.App {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 6fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  margin-top: 3rem;
}
.grid .img-container {
  width: 80%;
  margin: 0 auto;
}
.grid img {
  width: 100%;
}

@media (max-width: 800px) {
  .grid {
    display: flex;
    flex-direction: column;
  }

  .grid .about {
    text-align: justify;
    margin: 1rem;
  }
}
